/*footer */
footer{
    padding: 2.5rem 0;
    background: url(../assets/bg-background.jpg) #111111 top no-repeat;
    font-size: 1.4rem;
    text-align: center;
    color: whitesmoke;
}

footer .menus{
    display: flex;
    justify-content: space-between;
    text-align: start;
}

footer .menus .row{
    width: 50%;
    display: flex;
    justify-content: space-around;
    text-align: start;
}

footer .menu-row, ul{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}


footer .menus span{
    text-transform: uppercase;
    margin: 10px 0;
    font-size: 1.6rem;
    font-weight: 600;
    color: #eb648c;
}

footer .redes-sociais{
    display: flex;
    flex-direction: column;
}
/*icones*/

footer .redes-sociais i.fab{
    color: whitesmoke;
}

footer .menus li a{
    font-size: 1.7rem;
    color: #666;
    transition: .4s;
}

footer .menus li a:hover{
    color: whitesmoke;
}

footer .menus li:not(:last-child) {
    margin-bottom: 10px;
}

footer .telefone, .email{
    display: flex;
    justify-content: space-around;
}

footer .contato{
    display: flex;
    flex-direction: column;
    width: 50%;
    text-transform: uppercase;
    margin: 10px;
}

footer .contato p{
    font-size: 1.1rem;
}

footer .telefone h1{
    padding-top: -10px;
}

footer .icone{
    display: flex;
}

footer .icone i{
    margin-right: 10px;
    font-size: 20px;
}

.copy{
    font-size: 1.7rem;
    color: #666;
    background: url(../assets/bg-background.jpg) #111111 top no-repeat;
}

.copy a{
    color: whitesmoke;;
}

.copy a:hover{
    color: whitesmoke;
}

.copy a{
    color: whitesmoke;
}


