/*SLIDER*/

.slider-show{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: white;
    margin: 0 auto;
}

main section.slider-show h1{
    font-size: 3rem;
    text-transform: uppercase;
    margin-bottom: 50px;
    color: rgba(0, 0, 0, 0.7);
    font-family: 'Aldrich', sans-serif;
    font-weight: 600;
    text-align: center;
}

.img-slider{
    border-radius: 10px;
    position: relative;
    width: 800px;
    height: 500px;
    margin: 10px;
    background: #1D212B;
    margin: 0 auto;
box-shadow: 2px 2px 15px rgb(0 0 0 / 60%);
    /* -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75); */
  }
  
  .img-slider .slide{
    z-index: 1;
    position: absolute;
    width: 100%;
    clip-path: circle(0% at 0 50%);

  }
  
  .img-slider .slide.active{
    clip-path: circle(150% at 0 50%);
    transition: 2s;
    transition-property: clip-path;
  }
  
  .img-slider .slide img{
    z-index: 1;
    width: 100%;
    border-radius: 5px;
  }
  
  .img-slider .navigation{
    z-index: 2;
    position: absolute;
    display: flex;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .img-slider .navigation .btn{
    background: rgba(255, 255, 255, 0.5);
    width: 12px;
    height: 12px;
    margin: 10px;
    border-radius: 50%;
    cursor: pointer;
  }
  
  .img-slider .navigation .btn.active{
    background: #2696E9;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
  }
  


