// gallery
.album-de-fotos {
    h1 {
        text-align: center;
        text-transform: uppercase;
        font-size: 3rem;
        font-family: "Aldrich", sans-serif;
        margin-bottom: 50px;
        color: rgba(0, 0, 0, 0.7);
    }

    .clientes {
        width: 100%;
        height: auto;
        display: grid;
        grid-gap: 20px;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

        div {
            width: 220px;
            height: 200px;
            /* border: 2px solid  rgba(0, 0, 0, 0.7); */
            overflow: hidden;
            justify-self: center;
        }
    }
}

@media screen and (max-width: 474px) {
    .clientes {
        div {
            justify-self: center;
        }
    }
}