/*footer */
footer {
  padding: 2.5rem 0;
  background: url(../assets/bg-background.jpg) #111111 top no-repeat;
  font-size: 1.4rem;
  text-align: center;
  color: whitesmoke;
}

footer .icone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .icone i {
  margin-right: 10px;
  font-size: 20px;
}

footer .menu-row,
footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

footer .menus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: start;
}

footer .menus li:not(:last-child) {
  margin-bottom: 10px;
}

footer .menus li a {
  font-size: 1.7rem;
  color: #666;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

footer .menus li a:hover {
  color: whitesmoke;
}

footer .menus .row {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-align: start;
}

footer .menus span {
  text-transform: uppercase;
  margin: 10px 0;
  font-size: 1.6rem;
  font-weight: 600;
  color: #eb648c;
}

footer .redes-sociais {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer .redes-sociais i.fab {
  color: whitesmoke;
}

footer .telefone,
footer .email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

footer .contato {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
  text-transform: uppercase;
  margin: 10px;
}

footer .contato p {
  font-size: 1.1rem;
}

footer .contato h1 {
  padding-top: -10px;
}

.copy {
  font-size: 1.7rem;
  color: #666;
  background: url(../assets/bg-background.jpg) #111111 top no-repeat;
}

.copy a {
  color: #666;
}

.copy a:hover {
  color: white;
}

/*SLIDER*/
.slider-show {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: white;
  margin: 0 auto;
}

.slider-show h1 {
  font-size: 3rem;
  text-transform: uppercase;
  margin-bottom: 50px;
  color: rgba(0, 0, 0, 0.7);
  font-family: "Aldrich", sans-serif;
  font-weight: 600;
  text-align: center;
}

.slider-show .img-slider {
  border-radius: 10px;
  position: relative;
  width: 800px;
  height: 500px;
  margin: 10px;
  margin: 0 auto;
}

.slider-show .img-slider .slide {
  z-index: 1;
  position: absolute;
  width: 100%;
  -webkit-clip-path: circle(0% at 0 50%);
          clip-path: circle(0% at 0 50%);
}

.slider-show .img-slider .slide img {
  z-index: 1;
  width: 100%;
  border-radius: 5px;
}

.slider-show .img-slider .slide.active {
  -webkit-clip-path: circle(150% at 0 50%);
          clip-path: circle(150% at 0 50%);
  -webkit-transition: 2s;
  transition: 2s;
  -webkit-transition-property: -webkit-clip-path;
  transition-property: -webkit-clip-path;
  transition-property: clip-path;
  transition-property: clip-path, -webkit-clip-path;
}

.slider-show .img-slider .navigation {
  z-index: 2;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  bottom: 30px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.slider-show .img-slider .navigation .btn {
  background: rgba(255, 255, 255, 0.5);
  width: 12px;
  height: 12px;
  margin: 10px;
  border-radius: 50%;
  cursor: pointer;
}

.slider-show .img-slider .navigation .btn.active {
  background: #2696e9;
  -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}

.experience-outdoors {
  padding: 0;
}

.title-heading {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 10rem;
  color: rgba(0, 0, 0, 0.7);
}

.title-heading h3 {
  font-size: 1.4rem;
}

.title-heading h1 {
  font-family: "Aldrich", sans-serif;
  font-size: 2rem;
  margin: 0.5rem 0 1rem;
}

.title-heading p {
  text-transform: lowercase;
}

.activities-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(25rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 2.5rem;
}

.activities-grid .activities-grid-item {
  height: 40rem;
  padding: 5rem;
  color: #fafafa;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  z-index: 1;
}

.activities-grid .activities-grid-item::before {
  content: "";
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(135deg, rgba(49, 24, 131, 0.9) 0%, rgba(72, 56, 149, 0.8) 10%);
  z-index: -1;
}

.activities-grid .activities-grid-item.star-gazing {
  background: url("../images/masculino.jpg") center no-repeat;
  background-size: cover;
}

.activities-grid .activities-grid-item.hiking {
  background: url("../images/feminino.jpg") center no-repeat;
  background-size: cover;
}

.activities-grid .activities-grid-item.camping {
  background: url("../images//kid.jpg") center no-repeat;
  background-size: cover;
}

.activities-grid .activities-grid-item i {
  font-size: 4rem;
  color: #eb648c;
}

.activities-grid .activities-grid-item h1 {
  font-family: "Aldrich", sans-serif;
  font-size: 1.7rem;
  text-transform: uppercase;
  margin: 2rem 0;
}

.header {
  width: 100%;
  height: 80vh;
  background: linear-gradient(135deg, rgba(49, 24, 131, 0.9) 0%, rgba(72, 56, 149, 0.8) 100%), url("../images/p2.png") center no-repeat;
  background-size: cover;
  position: relative;
}

.header::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 100%;
  z-index: 1;
  height: 4.7rem;
  background: url("../images/wave-small.png") center;
  background-size: cover;
}

.header .main-message {
  width: 100%;
  height: auto;
  color: #fafafa;
  text-transform: uppercase;
  -webkit-transform: translateY(20%);
          transform: translateY(20%);
}

.header .main-message h3 {
  font-size: 1.6rem;
}

.header .main-message h1 {
  font-family: "Aldrich", sans-serif;
  font-size: 4rem;
  margin: 1rem 0;
}

.header .main-message p {
  text-transform: lowercase;
  line-height: 1.4;
  text-align: justify;
}

.header .main-message p span {
  text-transform: uppercase;
}

.header .cta a {
  cursor: pointer;
}

.header .cta .btn-pink {
  background-color: #eb648c;
  font-size: 1.2rem;
  border-radius: 2rem;
  color: #fafafa;
  display: inline-block;
  margin-top: 2rem;
  padding: 1rem 2.5rem;
  text-transform: uppercase;
  -webkit-transition: background-color 650ms;
  transition: background-color 650ms;
}

.header .cta .btn-pink.btn-pink:hover {
  background-color: #ce587b;
}

/* testemonials */
.testimonials {
  width: 100%;
  height: 80vh;
  background: linear-gradient(135deg, rgba(49, 24, 131, 0.9) 0%, rgba(72, 56, 149, 0.8) 100%), url("../images/testimonials-bg.jpg") center no-repeat fixed;
  position: relative;
}

.testimonials::before {
  content: "";
  position: absolute;
  top: -3px;
  left: 0;
  width: 100%;
  height: 4.7rem;
  background: url("../images/wave-small-reversed.png") center no-repeat;
  background-size: cover;
}

.testimonials .testimonial {
  width: 100%;
  color: #fafafa;
  position: absolute;
  top: 55%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  margin-top: 5%;
}

.testimonials .testimonial .testimonial-text-box {
  padding: 0 1.5rem;
  margin-bottom: 2rem;
  position: relative;
}

.testimonials .testimonial .testimonial-text-box i {
  position: absolute;
  top: -8rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  font-size: 8rem;
  color: #eb648c;
  opacity: 0.5;
  z-index: -1;
}

.testimonials .testimonial .testimonial-customer img {
  width: 14rem;
  border-radius: 100%;
  border: 3px solid #eb648c;
  margin-bottom: 20px;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
}

html {
  font-family: "Nurito", sans-serif;
  font-size: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

ul {
  list-style: none;
}

p {
  font-size: 1.6rem;
}

img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

section {
  padding: 5rem 0;
}

.container {
  width: 100%;
  max-width: 98rem;
  margin: 0 auto;
  padding: 0 1.5rem;
}

/*Begin adventure*/
.adventure-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(25rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 2.5rem;
  margin-bottom: 2rem;
}

.adventure-grid .adventure-grid-item p {
  color: rgba(0, 0, 0, 0.7);
  line-height: 1.5;
}

.btn-pink {
  background-color: #eb648c;
  font-size: 1.2rem;
  border-radius: 2rem;
  color: #fafafa;
  display: inline-block;
  margin-top: 2rem;
  padding: 1rem 2.5rem;
  text-transform: uppercase;
  -webkit-transition: background-color 650ms;
  transition: background-color 650ms;
}

.btn-pink.btn-pink:hover {
  background-color: #ce587b;
}

.album-de-fotos h1 {
  text-align: center;
  text-transform: uppercase;
  font-size: 3rem;
  font-family: "Aldrich", sans-serif;
  margin-bottom: 50px;
  color: rgba(0, 0, 0, 0.7);
}

.album-de-fotos .clientes {
  width: 100%;
  height: auto;
  display: -ms-grid;
  display: grid;
  grid-gap: 20px;
  -ms-grid-columns: (minmax(200px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.album-de-fotos .clientes div {
  width: 220px;
  height: 200px;
  /* border: 2px solid  rgba(0, 0, 0, 0.7); */
  overflow: hidden;
  -ms-grid-column-align: center;
      justify-self: center;
}

.google-maps h3 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #e96565;
  text-align: center;
}

.google-maps #map {
  height: 300px;
  width: 100%;
  -webkit-box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
          box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
}

@media screen and (min-width: 350px) {
  .main-message {
    -webkit-transform: translateY(40%);
            transform: translateY(40%);
  }
}

@media screen and (min-width: 470px) {
  .header::before {
    height: 9.4rem;
    background: url("../images/wave-medium.png");
    background-size: cover;
  }
  .testimonials ::before {
    height: 9.4rem;
    background: url("../images/wave-medium-reversed.png");
    background-size: cover;
  }
}

@media screen and (max-width: 474px) {
  .clientes div {
    -ms-grid-column-align: center;
        justify-self: center;
  }
}

@media screen and (min-width: 950px) {
  .header::before {
    height: 22.7rem;
    background: url("../images/wave-large.png");
    background-size: cover;
  }
  .testimonials::before {
    height: 22.7rem;
    background: url("../images/wave-large-reversed.png");
    background-size: cover;
  }
  .main-message {
    -webkit-transform: translateY(20%);
            transform: translateY(20%);
  }
}

@media screen and (max-width: 950px) {
  .testimonial {
    margin-top: 0;
  }
}

@media screen and (min-width: 1200px) {
  .header {
    height: 75vh;
  }
  .main-message {
    -webkit-transform: translateY(40%);
            transform: translateY(40%);
  }
}

/*SLIDER*/
@media (max-width: 820px) {
  .slider-show .img-slider {
    width: 600px;
    height: 375px;
  }
  .slider-show .img-slider .navigation {
    bottom: 25px;
  }
  .slider-show .img-slider .navigation .btn {
    width: 10px;
    height: 10px;
    margin: 8px;
  }
}

@media (max-width: 620px) {
  .slider-show .img-slider {
    width: 400px;
    height: 250px;
  }
  .slider-show .img-slider .navigation {
    bottom: 15px;
  }
  .slider-show .img-slider .navigation .btn {
    width: 8px;
    height: 8px;
    margin: 6px;
  }
}

@media (max-width: 420px) {
  .slider-show .img-slider {
    width: 320px;
    height: 200px;
  }
  .slider-show .img-slider .navigation {
    bottom: 10px;
  }
}

@media screen and (max-width: 660px) {
  footer .menus {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer .menus .row {
    width: 100%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  footer .menus .contato {
    margin-top: 20px;
    width: 100%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  footer .menus .contato .telefone {
    margin-bottom: 40px;
  }
  .main-message {
    margin-top: -40px;
  }
  .title-heading {
    margin: 3rem 0 5rem 0;
  }
  .activities-grid {
    margin-bottom: 5rem;
  }
}

@media screen and (max-width: 412px) {
  footer .menus .row {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  footer .menus .contato {
    margin-top: 20px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
/*# sourceMappingURL=style.css.map */