@import "./footer";
@import "./slider";
@import "./models";
@import "./header";
@import "./testimonial";
@import "./menu";
@import "./album";
@import "./google-maps";
//starter
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html {
    font-family: "Nurito", sans-serif;
    font-size: 10px;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

ul {
    list-style: none;
}

p {
    font-size: 1.6rem;
}

img {
    width: 100%;
    max-width: 100%;
    height: auto;
}

section {
    padding: 5rem 0;
}

.container {
    width: 100%;
    max-width: 98rem;
    margin: 0 auto;
    padding: 0 1.5rem;
}

.btn-pink {
    background-color: #eb648c;
    font-size: 1.2rem;
    border-radius: 2rem;
    color: #fafafa;
    display: inline-block;
    margin-top: 2rem;
    padding: 1rem 2.5rem;
    text-transform: uppercase;
    transition: background-color 650ms;

    &.btn-pink:hover {
        background-color: #ce587b;
    }
}
