/*footer */
footer {
    padding: 2.5rem 0;
    background:#111111 top no-repeat;
    font-size: 1.4rem;
    text-align: center;
    color: whitesmoke;

    .icone {
        display: flex;
        i {
            margin-right: 10px;
            font-size: 20px;
        }
    }

    .menu-row,
    ul {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .menus {
        display: flex;
        justify-content: space-between;
        text-align: start;

        li {
            &:not(:last-child) {
                margin-bottom: 10px;
            }

            a {
                font-size: 1.7rem;
                color: #666;
                transition: 0.4s;
                &:hover {
                    color: whitesmoke;
                }
            }
        }

        .row {
            width: 50%;
            display: flex;
            justify-content: space-around;
            text-align: start;
        }

        span {
            text-transform: uppercase;
            margin: 10px 0;
            font-size: 1.6rem;
            font-weight: 600;
            color: #eb648c;
        }
    }

    .redes-sociais {
        display: flex;
        flex-direction: column;
        i.fab {
            color: whitesmoke;
        }
    }

    .telefone,
    .email {
        display: flex;
        justify-content: space-around;
    }

    .contato {
        display: flex;
        flex-direction: column;
        width: 50%;
        text-transform: uppercase;
        margin: 10px;
        p {
            font-size: 1.1rem;
        }

        h1 {
            padding-top: -10px;
        }
    }
}

//copy
.copy {
    font-size: 1.7rem;
    color: #666;
    background: #111111 top no-repeat;

    a {
        color: #666;
        &:hover {
            color: white;
        }
    }
}

@media screen and (max-width: 660px) {
    footer .menus {
        flex-direction: column;
        .row {
            width: 100%;
            justify-content: space-around;
        }
        .contato {
            margin-top: 20px;
            width: 100%;
            justify-content: space-around;
            .telefone {
                margin-bottom: 40px;
            }
        }
    }
}

@media screen and (max-width: 412px) {
    footer {
        .menus {
            .row {
                justify-content: space-between;
            }
            .contato {
                margin-top: 20px;
                justify-content: space-between;
            }
        }
    }
}