/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

/*footer */
.footer {
	padding: 2.5rem 0;
	background: #111111 top no-repeat;
	font-size: 1.4rem;
	text-align: center;
	color: rgb(168, 164, 164);

	&__content {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: justify;
		    -ms-flex-pack: justify;
		        justify-content: space-between;
		text-align: start;
		span {
			text-transform: uppercase;
			margin: 10px 0;
			font-size: 1.6rem;
			font-weight: 600;
			color: #eb648c;
		}
	}

	&__menu-wrapper {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-pack: distribute;
		    justify-content: space-around;
		text-align: start;
		& >:first-child{
			margin-right: 100px;
		}
	}

	&__menu {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		-webkit-box-align: start;
		    -ms-flex-align: start;
		        align-items: flex-start;
	}

	&__menu-list {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		-webkit-box-align: start;
		    -ms-flex-align: start;
		        align-items: flex-start;
	}

	&__menu-item {
		&:not(:last-child) {
			margin-bottom: 10px;
		}

		a {
			font-size: 1.7rem;
			color: inherit;
			-webkit-transition: 0.4s;
			-o-transition: 0.4s;
			transition: 0.4s;
			&:hover {
				color: whitesmoke;
			}
		}
	}
	// social-media
	&__social-media {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		i.fab {
			color: whitesmoke;
		}
	}

	&__social-media-list {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		-webkit-box-align: start;
		    -ms-flex-align: start;
		        align-items: flex-start;
	}

	&__social-media-item {
		&:not(:last-child) {
			margin-bottom: 10px;
		}

		a {
			font-size: 1.7rem;
			color: inherit;
			-webkit-transition: 0.4s;
			-o-transition: 0.4s;
			transition: 0.4s;
			&:hover {
				color: whitesmoke;
			}
		}
	}

	//contact

	&__contact {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		width: 50%;
		text-transform: uppercase;
		margin: 10px;
		p {
			font-size: 1.1rem;
		}

		h1 {
			padding-top: -10px;
		}
	}
}

//copy
.copy {
	font-size: 1.7rem;
	color: rgb(168, 164, 164);
	background: #111111 top no-repeat;

	a {
		color: inherit;
		&:hover {
			color: white;
		}
	}
}

@media screen and (max-width: 660px) {
	.footer {
		&__content {
			-webkit-box-orient: vertical;
			-webkit-box-direction: normal;
			    -ms-flex-direction: column;
			        flex-direction: column;
		}

		&__menu-wrapper {
			width: 100%;
			-ms-flex-pack: distribute;
			    justify-content: space-around;
		}
	}
}

@media screen and (max-width: 412px) {
	.footer {
		&__menu-wrapper {
			-webkit-box-pack: justify;
			    -ms-flex-pack: justify;
			        justify-content: space-between;
			& >:first-child{
				margin-right: auto;
			}
		}
		
	}
}