/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

// gallery
.gallery {
	h1 {
		text-align: center;
		text-transform: uppercase;
		font-size: 3rem;
		font-family: "Aldrich", sans-serif;
		margin-bottom: 50px;
		color: rgba(0, 0, 0, 0.7);
	}
	&__pictures {
		width: 100%;
		height: auto;
		display: -ms-grid;
		display: grid;
		grid-gap: 20px;
		grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

		div {
			width: 220px;
			height: 200px;
			border: 10px double rgba(192, 192, 192, 0.7);
			overflow: hidden;
			-ms-grid-column-align: center;
			    justify-self: center;
		}
	}
}

@media screen and (max-width: 474px) {
	.gallery__pictures {
		div {
			-ms-grid-column-align: center;
			    justify-self: center;
		}
	}
}