//google maps
.google-maps {
	h3 {
		font-size: 2rem;
		margin-bottom: 20px;
		color: rgb(233, 101, 101);
		text-align: center;
	}

	#map {
		height: 300px;
		width: 100%;
		box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
	}
}
