/*SLIDER*/
.slider {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: white;
	margin: 0 auto;

	h1 {
		font-size: 3rem;
		text-transform: uppercase;
		margin-bottom: 50px;
		color: rgba(0, 0, 0, 0.7);
		font-family: "Aldrich", sans-serif;
		font-weight: 600;
		text-align: center;
	}

	&__images {
		border-radius: 10px;
		position: relative;
		width: 800px;
		height: 500px;
		margin: 10px;
		margin: 0 auto;
	}

	&__img {
		z-index: 1;
		position: absolute;
		width: 100%;
		clip-path: circle(0% at 0 50%);

		&--active {
			clip-path: circle(150% at 0 50%);
			transition: 2s;
			transition-property: clip-path;
		}
		img {
			z-index: 1;
			width: 100%;
			border-radius: 5px;
		}
	}

	&__switch {
		z-index: 1;
		position: absolute;
		display: flex;
		bottom: 30px;
		left: 50%;
		transform: translateX(-50%);
	}

	&__dots {
		background: rgba(255, 255, 255, 0.5);
		width: 12px;
		height: 12px;
		margin: 10px;
		border-radius: 50%;
		cursor: pointer;
		&--active {
			background: #2696e9;
			box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
		}
	}
}

/*SLIDER*/
@media (max-width: 820px) {
	.slider {
		&__images {
			width: 500px;
			height: 300px;
		}

		&__switch {
			bottom: 25px;
		}

		&__dots {
			width: 10px;
			height: 10px;
			margin: 8px;
			// display: none;
		}
	}
}

@media (max-width: 620px) {
	.slider {
		&__images {
			width: 400px;
			height: 250px;
		}

		&__switch {
			bottom: 15px;
		}

		&__dots {
			width: 8px;
			height: 8px;
			margin: 6px;
		}
	}
}

@media (max-width: 420px) {
	.slider {
		&__images {
			width: 320px;
			height: 200px;
		}

		&__switch {
			bottom: 10px;
		}
	}
}
